<div class="book-modal" appScrollLock appBackdropClick (backdropClick)="onBackdropClick()">
  <div
    class="book-modal__dialog"
    [class.book-modal__dialog--loader]="loader"
    (click)="$event.stopPropagation()"
    role="dialog"
    [attr.aria-label]="loader ? 'Loading' : 'Book modal'"
    aria-modal="true"
  >
    @if (!loader) {
    <button
      class="book-modal__close-button"
      type="button"
      (click)="close.emit()"
      aria-label="Close"
    >
      <lucide-angular name="X" class="book-modal__close-button-icon" />
    </button>
    } @if (loader) {
    <div class="book-modal__loader">
      <div class="book-modal__loader-spinner" aria-hidden="true"></div>
      <p class="book-modal__loader-text">{{ loaderText }}</p>
    </div>
    } @else {
    <ng-content />
    }
  </div>
</div>
