@if (bookResource.isLoading()) {
<app-book-modal [loader]="true" loaderText="Loading book..." />
} @if (!bookResource.error() && !bookResource.isLoading()) {
<app-book-modal (close)="handleCancel()">
  <form [formGroup]="bookForm" (ngSubmit)="handleSubmit()" class="book-form">
    <h3 class="book-form__title">{{ bookResource.value() ? 'Edit Book' : 'Add New Book' }}</h3>

    <div class="book-form__field">
      <label for="title" class="book-form__label">Title *</label>
      <input
        id="title"
        type="text"
        formControlName="title"
        class="book-form__input"
        [class.book-form__input--error]="
          bookForm.get('title')?.invalid && bookForm.get('title')?.touched
        "
      />
      @if (bookForm.get('title')?.invalid && bookForm.get('title')?.touched) { @for (error of
      bookForm.get('title')?.errors | keyvalue; track error.key) {
      <span class="book-form__error">
        {{ error.key | validationError : error.value }}
      </span>
      } }
    </div>

    <div class="book-form__field">
      <label for="author" class="book-form__label">Author *</label>
      <input
        id="author"
        type="text"
        formControlName="author"
        class="book-form__input"
        [class.book-form__input--error]="
          bookForm.get('author')?.invalid && bookForm.get('author')?.touched
        "
      />
      @if (bookForm.get('author')?.invalid && bookForm.get('author')?.touched) { @for (error of
      bookForm.get('author')?.errors | keyvalue; track error.key) {
      <span class="book-form__error">
        {{ error.key | validationError : error.value }}
      </span>
      } }
    </div>

    <div class="book-form__field">
      <label for="year" class="book-form__label">Year *</label>
      <input
        id="year"
        type="number"
        formControlName="year"
        class="book-form__input"
        [class.book-form__input--error]="
          bookForm.get('year')?.invalid && bookForm.get('year')?.touched
        "
      />
      @if (bookForm.get('year')?.invalid && bookForm.get('year')?.touched) { @for (error of
      bookForm.get('year')?.errors | keyvalue; track error.key) {
      <span class="book-form__error">
        {{ error.key | validationError : error.value }}
      </span>
      } }
    </div>

    <div class="book-form__field">
      <label for="genre" class="book-form__label">Genre *</label>
      <input
        id="genre"
        type="text"
        formControlName="genre"
        class="book-form__input"
        [class.book-form__input--error]="
          bookForm.get('genre')?.invalid && bookForm.get('genre')?.touched
        "
      />
      @if (bookForm.get('genre')?.invalid && bookForm.get('genre')?.touched) { @for (error of
      bookForm.get('genre')?.errors | keyvalue; track error.key) {
      <span class="book-form__error">
        {{ error.key | validationError : error.value }}
      </span>
      } }
    </div>

    <div class="book-form__field">
      <label for="description" class="book-form__label">Description *</label>
      <textarea
        id="description"
        formControlName="description"
        rows="4"
        class="book-form__textarea"
        [class.book-form__textarea--error]="
          bookForm.get('description')?.invalid && bookForm.get('description')?.touched
        "
      ></textarea>
      @if (bookForm.get('description')?.invalid && bookForm.get('description')?.touched) { @for
      (error of bookForm.get('description')?.errors | keyvalue; track error.key) {
      <span class="book-form__error">
        {{ error.key | validationError : error.value }}
      </span>
      } }
    </div>

    <div class="book-form__field">
      <Label class="book-form__checkbox-label">
        <input type="checkbox" formControlName="isFavorite" class="book-form__checkbox" />

        @if (bookForm.get('isFavorite')?.value) {
        <lucide-angular name="SquareCheck" class="book-form__checkbox-icon" />
        } @else {
        <lucide-angular name="Square" class="book-form__checkbox-icon" />
        }
        <span>Mark as favorite</span>
      </Label>
    </div>

    <div class="book-form__actions">
      <button type="submit" class="app-button app-button--primary" [disabled]="bookForm.invalid">
        {{ bookResource.value() ? 'Update' : 'Add' }} Book
      </button>
      <button type="button" class="app-button app-button--secondary" (click)="handleCancel()">
        Cancel
      </button>
    </div>
  </form>
</app-book-modal>
}
